* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: auto;
    margin-top: 7vh;
    /* border: solid 2px black; */
    background-image: linear-gradient(to top, mediumturquoise, mediumspringgreen);
    background-size: contain;
    background-repeat: round;
}
.container {
    margin: auto;
    max-width: 75vw;
    min-height: 100vh;
    /* border: solid 2px black; */
}
h2 {
    /* border: solid 5px blue; */
    text-align: center;
}
.game-board {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-bottom: 7.5%;
    /* border: solid 2px springgreen; */
    min-width: 70vw;
    min-height: 50vh;
}.square {
    border: solid 2px black;
    height: 110px;  
    width: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}
button {
    min-width: 100%;
    min-height: 100%;
    border: none;
    background-color: white;
}
.reset {
    border: solid 2px black;
    border-radius: 15px;
    padding: 5%;
    font-size: large;
    background-image: linear-gradient(to top, green, lightgreen);
}
button:hover {
    background-color: gray;
}
button:active {
    transform: translateY(1px);
    background-color: gray;
}
#sq1 {
    border-top: none;
    border-left: none;
}
#sq2 {
    border-top: none;
}
#sq3 {
    border-top: none;
    border-right: none;
}
#sq4 {
    border-left: none;
}
#sq6 {
    border-right: none;
}
#sq7 {
    border-left: none;
    border-bottom: none;
}
#sq8 {
    border-bottom: none;
}
#sq9 {
    border-bottom: none;
    border-right: none;
}
@media (min-width: 667px) {
    .container {
        max-width: 45vw;
        /* max-height: 50vh; */
    }
    .game-board {
        flex-direction: column;
        max-height: 85vh;
        max-width: 20vw;
    }
}